// * {
//     border: 1px solid red;
// }

/* Global */
$font-main: 'Poppins', sans-serif;
$font-text: 'Roboto', sans-serif;
$color-main: rgb(253, 186, 40);
$color-decor: rgb(6, 14, 90);
$color-dark: rgb(175, 7, 44);
$color-light: rgb(253, 253, 249);

body {
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
    font-family: $font-text;
    background-color: $color-light;
    height: 100vh;
}

/* Header */
.page-title {
    margin: 0;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0;
        font-family: $font-main;
        font-size: 48px;
        text-transform: uppercase;
        color: $color-decor;
    }
    h2 {
        margin: 5px;
        font-size: 24px;
        font-family: $font-main;
    }
    h3 {
        margin: 35px 0 0 0;
        font-size: 20px;
        color: $color-dark;
        text-transform: uppercase;
    }
    p {
        margin: 5px 0 0 0;
    }
    i {
        color: $color-main;
    }
}

/* Game */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    #buttons {
        margin: 24px 0;
        button {
            margin: 0 10px;
            padding: 10px 20px;
            background-color: $color-dark;
            color: $color-light;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
    }
    #messages {
        margin: 5px 0;
        font-size: 24px;
    }
}

/* Results */
.win {
    color: green;
    text-transform: uppercase;
    margin: 5px 0;
}

.lost {
    color: $color-dark;
    text-transform: uppercase;
    margin: 5px 0;
}

.player_score {
    color: $color-decor;
    margin: 0 30px 0 0;
}

.comp_score {
    color: $color-decor;
    margin: 0 0 0 30px;
}